QCustomPlot {
    border-color: rgb(61, 64, 67);
    border-radius: 10px; /* Задаем радиус скругления углов для создания круглой формы */
    background-color: rgb(113, 117, 122); /* Устанавливаем цвет фона кнопки */
    color: white; /* Устанавливаем цвет текста на кнопке */
}QCustomPlot::widget  {
	border: 2px solid gray;
}